USE [FieldData]
GO
/****** Object:  StoredProcedure [SSIS_ENG].[Prepare_TS_PumpDown_Insert]    Script Date: 8/24/2022 10:55:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/******************************************************************
  Created:	KPHAM (20200326)
******************************************************************/
CREATE PROCEDURE [SSIS_ENG].[Prepare_TS_PumpDown_Insert]	
AS
BEGIN

	INSERT INTO [dbo].[TechSheet_PumpDown]
		([ID_FracInfo]
		,[ID_FracStage]

		,[Ball_Final]
		,[Ball_Initial]
		,[Ball_Max]
		,[Ball_Rate]
		,[BallAction]
		,[BallDropVol]
		,[BallHit_Diff]
		,[BallHitTime]
		,[BallHitVol]
		,[BallSize]
		,[Bottom_Shot_Flush_Vol_bbl]
		,[Bottom_Shot_Flush_Vol_Gal]
		,[BottomShot]
		,[Communication_DeltaPSI]
		,[Communication_Duration]
		,[Communication_End_Time]
		,[Communication_Start_Time]
		,[Delta_psi]
		,[DeltaBS]
		,[DeltaPD]
		,[DeltaTS]
		,[Design_BS]
		,[Design_PD]
		,[Design_TS]
		,[EndWLTime]
		,[NumPerfsPorts]
		,[PD_Brinebbls]
		,[PD_CloseWHPSI]
		,[PD_CloseWHTime]
		,[PD_Company]
		,[PD_EndTime]
		,[PD_Equipment]
		,[PD_Freshbbls]
		,[PD_MeterType]
		,[PD_NumHP]
		,[PD_OpenWHPSI]
		,[PD_OpenWHTime]
		,[PD_PressureMax]
		,[PD_RateMax]
		,[PD_StartTime]
		,[PERF_BottomShot]
		,[PERF_ClusterLength]
		,[PERF_Company]
		,[PERF_NumPerfClusters]
		,[PERF_PerfDiam]
		,[PERF_Phasing]
		,[PERF_PlugDepth]
		,[PERF_ShotPerFoot]
		,[PERF_TopShot]
		,[PERF_TotalNumShots]
		,[PERF_Type]
		,[PerfDiam]
		,[Plug]
		,[Plug_Flush_Vol_bbl]
		,[Plug_Flush_Vol_Gal]
		,[PlugBall_Early_Late]
		,[PortPerf]
		,[PumpDownVol]
		,[Sleeve_Depth1]
		,[Sleeve1_Early_Late]
		,[Sleeve1_Flush_Vol_bbl]
		,[Sleeve1_Flush_Vol_Gal]
		,[SleeveDepth1]
		,[StartWLTime]
		,[Top_Shot_Flush_Vol_bbl]
		,[Top_Shot_Flush_Vol_Gal]
		,[TopShot]
		,[Tot_Clean_PD]
		,[TotalnumPerfs]
		,[WL_Communication]
		,[WL_Well]
		,[WLDate]
		,[WLPumpTime]
		,[WLWAHHPAveRatePSIMethod]
		)

	SELECT xPD.[ID_FracInfo]
		, xPD.[ID_FracStage]

		, xPD.[Ball_Final]
		, xPD.[Ball_Initial]
		, xPD.[Ball_Max]
		, xPD.[Ball_Rate]
		, xPD.[BallAction]
		, xPD.[BallDropVol]
		, xPD.[BallHit_Diff]
		, xPD.[BallHitTime]
		, xPD.[BallHitVol]
		, xPD.[BallSize]
		, xPD.[Bottom_Shot_Flush_Vol_bbl]
		, xPD.[Bottom_Shot_Flush_Vol_Gal]
		, xPD.[BottomShot]
		, xPD.[Communication_DeltaPSI]
		, xPD.[Communication_Duration]
		, xPD.[Communication_End_Time]
		, xPD.[Communication_Start_Time]
		, xPD.[Delta_psi]
		, xPD.[DeltaBS]
		, xPD.[DeltaPD]
		, xPD.[DeltaTS]
		, xPD.[Design_BS]
		, xPD.[Design_PD]
		, xPD.[Design_TS]
		, xPD.[EndWLTime]
		, xPD.[NumPerfsPorts]
		, xPD.[PD_Brinebbls]
		, xPD.[PD_CloseWHPSI]
		, xPD.[PD_CloseWHTime]
		, xPD.[PD_Company]
		, xPD.[PD_EndTime]
		, xPD.[PD_Equipment]
		, xPD.[PD_Freshbbls]
		, xPD.[PD_MeterType]
		, xPD.[PD_NumHP]
		, xPD.[PD_OpenWHPSI]
		, xPD.[PD_OpenWHTime]
		, xPD.[PD_PressureMax]
		, xPD.[PD_RateMax]
		, xPD.[PD_StartTime]
		, xPD.[PERF_BottomShot]
		, xPD.[PERF_ClusterLength]
		, xPD.[PERF_Company]
		, xPD.[PERF_NumPerfClusters]
		, xPD.[PERF_PerfDiam]
		, xPD.[PERF_Phasing]
		, xPD.[PERF_PlugDepth]
		, xPD.[PERF_ShotPerFoot]
		, xPD.[PERF_TopShot]
		, xPD.[PERF_TotalNumShots]
		, xPD.[PERF_Type]
		, xPD.[PerfDiam]
		, xPD.[Plug]
		, xPD.[Plug_Flush_Vol_bbl]
		, xPD.[Plug_Flush_Vol_Gal]
		, xPD.[PlugBall_Early_Late]
		, xPD.[PortPerf]
		, xPD.[PumpDownVol]
		, xPD.[Sleeve_Depth1]
		, xPD.[Sleeve1_Early_Late]
		, xPD.[Sleeve1_Flush_Vol_bbl]
		, xPD.[Sleeve1_Flush_Vol_Gal]
		, xPD.[SleeveDepth1]
		, xPD.[StartWLTime]
		, xPD.[Top_Shot_Flush_Vol_bbl]
		, xPD.[Top_Shot_Flush_Vol_Gal]
		, xPD.[TopShot]
		, xPD.[Tot_Clean_PD]
		, xPD.[TotalnumPerfs]
		, xPD.[WL_Communication]
		, xPD.[WL_Well]
		, xPD.[WLDate]
		, xPD.[WLPumpTime]
		, xPD.[WLWAHHPAveRatePSIMethod]
		
		FROM [SSIS_ENG].fnRPT_xmlTS_FracStages_PumpDown()	xPD
			LEFT JOIN dbo.TechSheet_PumpDown	eP ON (eP.ID_FracInfo = xPD.ID_FracInfo AND eP.ID_FracStage = xPD.ID_FracStage) 
		WHERE (xPD.ID_FracStage IS NOT NULL AND xPD.ID_FracInfo IS NOT NULL)
			AND eP.ID_Record IS NULL
	;

END 




GO
