USE [FieldData]
GO
/****** Object:  StoredProcedure [SSIS_ENG].[XML_QC_LCSs]    Script Date: 8/24/2022 10:55:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [SSIS_ENG].[XML_QC_LCSs]	
AS
BEGIN
	SET NOCOUNT ON;
	SET ANSI_WARNINGS OFF;

	/****** LOCATION_STRAP (20180906) ***********************/
	EXEC [SSIS_ENG].[XML_QC_LCS_StrapEntries]
	EXEC [SSIS_ENG].[XML_QC_LCS_TicketEntries]

	SET ANSI_WARNINGS ON;
	SET NOCOUNT OFF;

END 

GO
